<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$if{"title"}[[$title - ]]Руководство по Lapis</title>
  <link rel="stylesheet" href="$root/reference.css?$generate_date" />
  $analytics{"UA-136625-1"}
</head>
<body>
  <div class="columns">
    <div class="nav_column">
      <div class="sticky_inner">
        <div class="indicator">&raquo;</div>
        <h1>
          <a href="$root">Lapis</a>
        </h1>
        <div class="lang_picker">
          <span class="label">Язык</span>
          <span class="lang_toggle active" data-lang="moonscript">MoonScript</span>
          <span class="lang_toggle" data-lang="lua">Lua</span>
        </div>

        <div class="nav_links">
          <h2>В этом разделе</h2>
          <a href="#" class="top_link">&uarr; К началу раздела</a>
        </div>

        <div class="nav_links">
          <h2>Все разделы</h2>

$markdown{[[
* [Введение]($root/reference/getting_started.html)
  * [MoonScript]($root/reference/moon_getting_started.html)
  * [Lua]($root/reference/lua_getting_started.html)
* [Запросы и обработчики]($root/reference/actions.html)
* [Конфигурации и окружения]($root/reference/configuration.html)
  * [Lua]($root/reference/lua_creating_configurations.html)
  * [MoonScript]($root/reference/moon_creating_configurations.html)
* [Работа с базой данных]($root/reference/database.html)
* [Обработка ошибок]($root/reference/exception_handling.html)
* [Проверка ввода]($root/reference/input_validation.html)
* [Генерация HTML]($root/reference/html_generation.html)
* [Шаблоны etlua]($root/reference/etlua_templates.html)
* [Тестирование]($root/reference/testing.html)
* [Разное]($root/reference/utilities.html)
* [Интерфейс командной строки]($root/reference/command_line.html)
* [Консоль Lapis]($root/reference/lapis_console.html)
]]}
        </div>

      </div>
    </div>

    <div class="text_column">$body
    </div>

  </div>

  <script src="$root/jquery.min.js"></script>
  <script type="text/javascript" src="$root/reference.js?$generate_date"></script>
</body>
</html>
